<div [hidden]="!confirmation">
  <form action="" id="add-contact">
    <h2>Add a new contact</h2>
    <div>
      <label for="name">First name</label>
      <input type="text" id="name" required [(ngModel)]="newContact.name" name="newContact.name" />
    </div>
    <div>
      <label for="age">Age</label>
      <input type="text" id="age" required [(ngModel)]="newContact.age" name="age" />
    </div>
    <div>
      <label for="phone">Phone number</label>
      <input type="text" id="phone" required [(ngModel)]="newContact.phone" name="phone" />
    </div>
    <button type="submit" (click)="confirm()" name="submit">Submit</button>
    <button type="button" (click)="clear()" name="reset">Reset</button>
  </form>
</div>
<div [hidden]="confirmation">
  <h5>Do we have this right?</h5>
  <p *ngIf="newContact.name" >{{ newContact.name }}</p>
  <p *ngIf="newContact.age" >{{ newContact.age }}</p>
  <p *ngIf="newContact.phone" >{{ newContact.phone }}</p>
  <button type="submit" (click)="addNewContact(newContact)">Yes</button>
  <button type="button" (click)="confirmation=true">Nope, let me fix it</button>
</div>
<div *ngIf="errorMessage">
  <p>Error! : {{ errorMessage }}<p>
</div>
