 @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Slabo+27px');
 * {
   box-sizing: border-box;
 }
 body {
   background: #456;
   color: white;
   padding: 0 2em;
 }
 h1, h2, h3, h4, h5 {
   font-family: 'Slabo 27px', sans-serif;
   font-weight: normal;
 }
 h1 {
   color: salmon;
 }
 input {
   margin: 1em 0;
 }
 label {
   font: 0.9em 'Open Sans', sans-serif;
   display: inline-block;
   width: 9em;
   text-align: right;
   margin-right: 1em;
 }
 #add-contact {
   width: 50%;
   border-radius: 0.3em;
   background: beige;
   padding: 1em;
   color: #333;
 }
 #add-contact h2 {
   margin: 0;
 }
 ul {
   font-family: "Open Sans", sans-serif;
 }
 form {
   overflow: hidden;
 }
 form button {
   float: right;
   margin: 0 0.5em;
   background: #6cbb13;
   font-size: 1em;
   padding: 0.6em;
   color: white;
   border: 0;
   border-radius: 0.15em;
 }
 a {
   color: white;
   margin: 1em 0;
 }
 .recent-add {
   font-size: 1.1em;
   color: orange;
 }
 button {
   border: 0;
   border-radius: 5px;
   background: darkorange;
   padding: 0.3em 1em;
   color: white;
   font-size: 1.1em;
 }
